<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>232732437116-gd7j4a4qe593g9foqasseu816g9jtnii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.232732437116-gd7j4a4qe593g9foqasseu816g9jtnii</string>
	<key>API_KEY</key>
	<string>AIzaSyB_8W0xN_03Z8Gkh22eXcYtr9S5tGhXbt8</string>
	<key>GCM_SENDER_ID</key>
	<string>232732437116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Bdriah-Talaat.Chat-Time</string>
	<key>PROJECT_ID</key>
	<string>chat-time-c574b</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-time-c574b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:232732437116:ios:31b3927120386d99a3b7f9</string>
</dict>
</plist>